<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Tournament service</title>
  <meta name="keywords" content="esports">
  <meta name="description" content="esports tournament generator">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href='stylesheets/resets.css'>
  <link rel="stylesheet" href='stylesheets/t_style.css'>
  <script src='scripts/loading-time.js'></script>
  <script src='scripts/dropdown-menu.js'></script>
  <script src='scripts/commons.js'></script>
  <script src='scripts/authorization.js'></script>
  <script src='scripts/index-logic.js'></script>
</head>
<body>
<nav class="nav">
  <div class="nav__wrapper">
    <div class="nav__section">
      <div class="nav__dropdown-wrapper">
        <button onclick="toggleMenu()" class="nav__button-droptoggle">
          <img class="nav__img-drop" src="images/dropdown.png" alt="dropdown">
        </button>
        <div id="dropdown" class="nav__dropdown">
          <a href='/'>
            <button class="nav__button-drop">Main</button>
          </a>
          <a href="#">
            <button class="nav__button-drop">Events</button>
          </a>
          <a href="/statistics">
            <button class="nav__button-drop">Statistics</button>
          </a>
        </div>
      </div>
      <a href='/'><img class="nav__logo" src="" alt="logo"></a>
      <a href="/tournaments">
        <button class="nav__button">Tournaments</button>
      </a>
      <a href="#">
        <button class="nav__button">Events</button>
      </a>
      <a href="/statistics">
        <button class="nav__button">Statistics</button>
      </a>
      <input type="text" placeholder="Search..." class="nav__search">
    </div>
    <div class="nav__section">
      {{#if isUserNull}}
        <a href="./login"><button class="nav__button-action">Login</button></a>
        <a href="#"><button class="nav__button-action">Register</button></a>
      {{else}}
        <a href="/profile"><button class="nav__button-action">{{ user.firstName }}</button></a>
        <a href="#"><button class="nav__button-logout">Logout</button></a>
      {{/if}}
    </div>
  </div>
</nav>
<main>
  <section class="content">
    <h2>Информация о пользователе:</h2>

    <p><strong>Имя:</strong> <span id="first-name">{{ user.firstName }}</span></p>
    <p><strong>Фамилия:</strong> <span id="last-name">{{ user.lastName }}</span></p>
    <p><strong>Нынешние команды:</strong></p>
    <div class='tournaments_output' id="tournaments_output"></div>
    <a href='/create-team'><button>Create team</button></a>
    <a href='/apply-to-team'><button>Apply to team</button></a>
    <a href='/change-password'><button>Change password</button></a>
  </section>
</main>
<footer class="footer">
  <section class="footer__section">
    <div>
      <img class="footer__logo" src="" alt="logo">
    </div>
    <div>
      <h4>
        Information
      </h4>
      <ul class="footer__ul">
        <li><a href="#" class="footer__a">Search</a></li>
        <li><a href="#" class="footer__a">Generate tournament</a></li>
        <li><a href="#" class="footer__a">Prices</a></li>
        <li><a href="#" class="footer__a">About us</a></li>
      </ul>
    </div>
    <div>
      <h4>
        Contacts
      </h4>
      <ul class="footer__ul">
        <li><a href="#" class="footer__a">Facebook</a></li>
        <li><a href="#" class="footer__a">Twitter</a></li>
        <li><a href="#" class="footer__a">Telegram</a></li>
        <li><a href="#" class="footer__a">Instagram</a></li>
      </ul>
    </div>
  </section>
  <section>
    <p class="footer__loadtime" id="loadtime">Oops</p>
  </section>
</footer>
<script src='scripts/load-profile.js'></script>
</body>
</html>